body {
    display: flex; 
    flex-direction: column; 
    line-height: 1; 
    font-size: 14px; 
}
html,
body {
   width: 100%;
   margin: 0 auto;
}

header {
    display: flex; 
    justify-content: space-between; 
    padding: 1%; 
    height: 50px;
    background-color: #fffaef; 
    color: whitesmoke; 
}

nav ul {
    display: inline-flex; 
    list-style: none; 
    margin: 8px; 
    padding: 0; 
    justify-content: space-between; 
    min-width: 300px; 
}

nav ul li {
    display: inline-flex; 
    padding: 0 20px; 
    text-align: center;
}

nav a {
    display: inline-flex; 
    text-decoration: none; 
    text-transform: uppercase;
    font-size: 18px; 
    font-weight: bold; 
    font-family: 'Lato'; 
    color: black; 
}

nav a:hover{
    text-decoration: underline;
}

h1 {
    margin: 2%; 
    font-size: 200%; 
    font-family: serif; 
}


h2 {
    font-size: 30px; 
    display: block; 
    text-transform: uppercase;
    text-decoration: underline;
}

p {
    font-size: 22px; 
    margin-top: 20px; 
    line-height: 1.2; 
}

html {
    scroll-behavior: smooth;
}

footer {
    display: inline-flex;
    justify-content: center;
    font-size: 18px; 
    padding: 2%;
    background-color: #fffaef;
    color: black;
}

div.scrollmenu {
    background-color: #fffaef;
    overflow: auto;
    white-space: nowrap;
}
  
div.scrollmenu a {
    display: inline-flex;
    color: white;
    text-align: center;
    padding: 50px;
    text-decoration: none;
}

.header_image {
    display: flex; 
    background-size: cover;
    width: 100%; 
}

.float-right{ 
    float: right; 
    margin-right: 50px;
    margin-left: 50px;  
    width: 210px; 
    height: 230px; 
}

.float-left{ 
    float: left; 
    margin-left: 25px; 
}
.content {
    width: 100%; 
    display: inline-block;
    margin-right: 20px; 
}

.about_me {
    padding: 50px; 
    height: auto; 
    font-family: 'Lato'; 
    margin-top: 40px; 
    background-color: #dfbdb8; 
    color: black; 

}

.work {
    padding: 50px; 
    height: 550px; 
    font-family: 'Lato'; 
    margin-top: 40px;
    background-color: #fffaef; 
    color: black; 

}

.contact_me {
    padding: 50px; 
    height: 300px; 
    font-family: 'Lato'; 
    margin-top: 40px; 
    background-color: #dfbdb8; 
    color: black; 
}

 .inline-image{ 
     display: inline-flex; 
 }

.card-image{ 
    height: 300px; 
    width: 500px; 
    transition: all .2s ease-in-out; 
}

.card-image:hover { 
    transform: scale(1.1); 
    margin-bottom: 50px; 
}

.image-caption {
    font-size: 20px;
    margin-top: 20px; 
    font-weight: bold;
    color: black; 
}

.contact-list { 
    display: inline-flex; 
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px ; 
}

.contact-icon { 
    height: 30px; 
    width: 30px; 
    margin-right: 20px; 
    display: inline-flex; 
}

.bold-text{ 
    font-weight: bold;
}

.fa {
    padding: 20px;
    margin-top: 20px; 
    margin-right: 20px; 
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-google {
    background: black;
    color: white;
}

.fa-linkedin {
    background: black;
    color: white;
}

.fa-github {
    background: black;
    color: white;
}

  
@media screen and (max-width: 768px) {
    header, main, .about_me, .content .work .contact_me {
      flex-direction: column;
    }
  
    section {
      padding-right: 0;
    }
  
    aside {
      width: 100%;
      text-align: center;
    }
}